:root {
    --bg-color: #000;
    --main-brand-color: #e50914;
    --main-brand-color-light: #e44c54;
    --secondary-brand-color: #0e1b4f;
    --main-text-color: #999;
    --menu-text-color: #FFF;
    --border-color: #4b5563;
    --input-bg-color: #333;
    --main-font-family: "Roboto", Arial, Helvetica, sans-serif;
  }
  
  .header {
    color: var(--main-text-color);
    opacity: 1;
    font-family: var(--main-font-family);
    font-size: 20px;
  }


  *{
    font-family: var(--main-font-family);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }