.footer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
}

.social-icons {
    margin-top: 0px;
}

.social-icons a {
    margin: 0 10px;
    color: white;
    font-size: 40px; 
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: var(--hover-color);
}


.social-icons a.facebook:hover {
    color: #3b5998;  
}

.social-icons a.twitter:hover {
    color: #1da1f2;  
}

.social-icons a.instagram:hover {
    color: #e1306c; 
}

.social-icons a.linkedin:hover {
    color: #0077b5;  
}

.social-icons a.github:hover {
    color: #333;     
}


@media (min-width: 1200px) {
    .social-icons a {
        font-size: 30px;  
        margin: 0 15px;
    }
}


@media (min-width: 992px) and (max-width: 1200px) {
    .footer-content {
        flex-direction: row;
    }

    .social-icons a {
        font-size: 30px;  
        margin: 0 12px;
    }
}


@media (min-width: 765px) and (max-width: 992px) {
    .footer-content {
        flex-direction: column;
    }

    .social-icons a {
        font-size: 30px;
        margin: 0 10px;
    }
}


@media (min-width: 575px) and (max-width: 765px) {
    .footer-content {
        flex-direction: column;
    }

    .social-icons a { 
        font-size: 30px;
        margin: 0 8px;
    }
}


@media (min-width: 400px) and (max-width: 575px) {
    .footer-content {
        flex-direction: column;
    }

    .social-icons a {
        font-size: 30px;
        margin: 0 5px;
    }
}


@media (max-width: 400px) {
    .footer-content {
        flex-direction: column;
    }

    .social-icons a {
        font-size: 25px; 
        margin: 0 3px;
    }
}

