
.navegation {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    width: 100%;
    height: 100%;
    position: relative;
}

.navegation .logo img {
    position: relative;
    left: -10px;
    top: 0;
    opacity: 0.7;
    height: 60px;
    width: 65px;
}

.menu {
    position: relative;
    height: 100%;
    display: flex;
    right: 2%;
    
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    top: 0;
}

nav ul li {
    display: inline-block;
    position: relative;
}

nav ul li a {
    color: var(--menu-text-color);
    text-decoration: none;
    padding: 0px 0px;
    transition: color 0.3s, border-bottom 0.3s;
}

nav ul li a:hover {
    color: var(--menu-hover-color);
    border-bottom: 1px solid var(--menu-hover-color);
  /*  box-shadow: 0 -5px 0px var(--menu-hover-color) inset, 200px 0 0 rgba(255, 255, 255, 0.03) inset; */
    box-shadow: none;
}


nav ul li .dropdown-content a:hover {

    background-color: var(--dropdown-hover-bg-color); 
}

nav ul li .dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--dropdown-bg-color);
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
}

nav ul li .dropdown-content a {
    color: var(--dropdown-text-color);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

nav ul li .dropdown-content a:hover {
    background-color: var(--dropdown-hover-bg-color);
}

nav ul li:hover .dropdown-content {
    display: block;
}

.dropbtn i {
    margin-right: 8px;
}

.flag-icon {
    width: 20px; 
    height: auto;
    margin-right: 8px; 
    vertical-align: middle; 
}

.btn-contact {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(115, 215, 248);
    padding: 10px 20px;
    height: auto;
    border-radius: 50px;
    text-decoration: none;
    outline: none;
    transition: background-position 0.3s ease;
    background-size: 200% 100%;
    background-image: linear-gradient(to right, rgb(115, 215, 248) 50%, RGB(4, 6, 81) 50%);
}

.btn-contact:hover {
    background-position: -100% 0; 
    color: #FFFFFF;  
    border: none; 
    box-shadow: none;  
}

.btn-contact i {
    margin-left: 8px; 
}


.hamburguer {
    position: absolute;
    width: 30px;
    height: 4px;
    background-color: var(--menu-hover-color);
    border-radius: 10px;
    cursor: pointer;
    z-index: 3;
    right: 20px;
    top: 10px;
    transition: 0.3s;
}

.hamburguer:before,
.hamburguer:after {
    content: "";
    position: absolute;
    height: 4px;
    background: #fff;
    border-radius: 10px;
    transition: 0.3s;
    
}

.hamburguer:before {
    top: -10px;
    width: 30px;
}

.hamburguer:after {
    top: 10px;
    width: 30px;
}

.toggle-menu {
    position: absolute;
    width: 30px;
    height: 100%;
    z-index: 3;
    cursor: pointer;
    opacity: 0;
    right: 10px;
}


.navegation input:checked ~ .hamburguer {
    background: transparent;
}

.navegation input:checked ~ .hamburguer:before {
    top: 0;
    transform: rotate(-45deg);
}

.navegation input:checked ~ .hamburguer:after {
    top: 0;
    transform: rotate(45deg);
}

.navegation input:checked ~ .menu {
    right: 0;
    box-shadow: -20px 0 40px rgba(0, 0, 0, 0.3);
}

.hamburguer,
.toggle-menu {
    display: none;
}

.menu {
    position: relative;
    flex-direction: row;
}

.menu li {
    padding: 10px 20px;
    list-style: none;
    font-size: 1.2rem;
}

.menu li a {
    text-decoration: none;
    color: var(--menu-text-color);
    transition: color 0.3s ease;
}

.navegation input:checked ~ .menu {
    right: 0;
    box-shadow: -20px 0 40px rgba(0, 0, 0, 0.3);
}

@media (min-width: 1200px) {
    .navegation {
        justify-content: space-between;
        align-items: center;
        height: auto;
    }

    .navegation .logo img {
        height: 60px;
        width: 65px;
        left: -5;
        top: -5;
    }

    .menu {
        height: auto;
        flex-direction: row;
        right: 5%;
    }

    .menu li {
        padding: 8px 15px;
        font-size: 1.1rem;
    }

    .btn-contact {
        padding: 10px 25px;
        font-size: 1.1rem;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {

    .navegation {
        justify-content: space-between;
        align-items: center;
        height: auto;
    }

    .navegation .logo img {
        height: 60px;
        width: 65px;
        left: -5;
        top: -5;
    }

    .menu {
        right: 5%;
        height: auto;
    }

    nav ul {
        justify-content: center; 
    }

    nav ul li {
        padding: 8px 15px; 
        font-size: 1.1rem; 
    }

    .btn-contact {
        padding: 10px 25px;
        font-size: 1.1rem;
    }

    .hamburguer {
        right: 30px;
        top: 10px;
        width: 28px;
        height: 3px;
    }

    .hamburguer:before,
    .hamburguer:after {
        width: 28px;
    }

    .hamburguer:before {
        top: -8px;
    }

    .hamburguer:after {
        top: 8px;
    }
}

@media screen and (max-width: 992px) {
    .hamburguer,
    .toggle-menu {
        display: flex; 
    }

    .hamburguer{
        right: 50px;
    }

    .menu {
        position: fixed;
        flex-direction: column;
        top: 42px;
        right: -300px;
        background: var(--menu-bg-color);
        width: 200px;
        height: 50%;
        transition: right 0.3s ease;
        padding-top: 15px;
        z-index: 1000;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
    }


    .menu li {
        padding: 14px 0px;
        font-size: 0.9rem; 
    }


    .menu li.contact {
        order: 0; 
    }
    
    .menu li.dropdown {
        order: 1; 
    }
 
    nav ul {
        display: none;
    }

    .navegation input:checked ~ .hamburguer {
        background: transparent;
    }

    .navegation input:checked ~ .hamburguer:before {
        top: 0;
        transform: rotate(-45deg);
    }

    .navegation input:checked ~ .hamburguer:after {
        top: 0;
        transform: rotate(45deg);
    }

    .navegation input:checked ~ .menu {
        right: 0;
    }
}
@media screen and (max-width: 768px) {
    .hamburguer {
        right: 15px;
        top: 12px;
        width: 22px;
        height: 2.5px;
    }

    .hamburguer:before,
    .hamburguer:after {
        width: 22px;
    }

    .hamburguer:before {
        top: -6px;
    }

    .hamburguer:after {
        top: 6px;
    }

    .menu {
        width: 150px; 
        right: -300px;
    }

    .menu li {
        padding: 12px 0px;
        font-size: 0.9rem; 
    }

    .btn-contact {
        padding: 6px 10px;
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 575px) {
    .hamburguer {
        right: 20px;
        top: 10px;
        width: 20px;
        height: 2px;
    }

    .hamburguer:before,
    .hamburguer:after {
        width: 20px;
    }

    .hamburguer:before {
        top: -5px;
    }

    .hamburguer:after {
        top: 5px;
    }

    .menu {
        width: 120px; 
        right: -380px;
    }

    .menu li {
        padding: 10px 0px;
        font-size: 0.85rem; 
    }

    .btn-contact {
        padding: 5px 8px;
        font-size: 0.85rem;
    }
}