.logo {
    width: auto; 
    height: 150%; 
}

.logo img {
    height: 100%; /* Ocupará toda la altura disponible */
    width: auto; /* Mantendrá la proporción original */
    object-fit: contain; /* Ajusta el logo sin deformarlo */
}

.nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 60pxgit;
    justify-content: space-around; /* Espacio igual alrededor de cada elemento */
}

