    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
  
      header {
        background-color: lightcoral;
        height: 10vh;  
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: white;
      }
  

      .contenido {
        display: flex;
        height: 80%; 
      }
  
      main {
        background-color: lightblue;
        flex: 1;  
        display: flex;
        align-items: center;
        justify-content: center;
      }
  
      aside {
        background-color: #405274;
        width: 70%; 
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
      }
  
      footer {
        background-color: blueviolet;
        height: 10%;  
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
      }

      @media (max-width: 520px){
      .contenido {
          flex-direction: column;
          display: flex;
          height: 80%;  
      }
      main{
          width: 90%;
          margin: 10px auto;
          height: 90%;
      }
  
      aside{
          flex-direction: column;
          width: 90%;
          margin: 10px auto;
          height: 150px;
      }
  }