    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      /*  background: #fbc02d;*/
      background: url("/assets/flower-dots.svg");
      }
  
      
      header {
        width: 90%;
        display: flex;
      /*  justify-content: space-between;*/
       /* background: lightcoral;*/
        margin: 1px;
        height: 10%;  
        align-items: center;
      /*  color: white;*/
      }
  

      .contenido {
        display: flex;
        height: 60%; 
      }
  
      main {
       /* background-color: lightblue;*/
        flex: 1;  
        display: flex;
        align-items: center;
        justify-content: center;
      }
  
      aside {
      /*  background-color: #405274; */
        width: 70%; 
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
      }
  
      footer {
       /* background-color: blueviolet;*/
        height: 10%;  
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
      }

  
      @media (max-width: 520px){
     .nav ul {
        display: none;
      }
      
      .contenido {
          flex-direction: column;
          display: flex;
          height: auto;
          width: auto;  
      }
      
      main{
          width: 100%;
          margin: auto;
          height: 100%;
          border: 1px;
      }
      
      aside{
          flex-direction: column;
          width: 100%;
          margin: auto;
          height: 150px;
      }
  }

  @media (max-width: 950px){
    .nav ul {
      display: none;
  }
     
     .contenido {
         flex-direction: column;
         display: flex;
         height: 80%;
         width: auto;  
     }
     
     main{
         width: 100%;
         margin: auto;
         height: 100%;
         border: 1px;
     }
     
     aside{
         flex-direction: column;
         width: 100%;
         margin: auto;
         height: 150px;
     }

      html, body {
          background-size: contain; 
          background-position: top; 
      }
  
 }
