.video {
    position: absolute;  /* Posición absoluta para que el video se superponga */
    top: 0;
    left: 0;
    width: 100%;  /* Asegura que el video cubra todo el ancho */
    height: 50vh;  /* Cubre toda la altura de la ventana */
    z-index: 1;  /* Coloca el video por debajo del header */
}
.curve {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    background: none;
    overflow:hidden;
    object-fit: cover;
    clip-path: ellipse(150% 100% at 50% 0%);
}